
main{
    flex: 1;
    background-color: var(--board-bg);
    padding: 1rem;
    max-height: 90vh;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::--webkit-scrollbar{
        display: none;
    }
}

.card{
    margin: 2%;
    background-color: var(--body-bg) !important;
    span{
        background-color: var(--body-color);
    }
}